.color-link {
    color: $main500;

    &:hover {
        color: $main300;
    }
}

.input-container {
    position: relative;

    .icon {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        color: rgb(165, 164, 164);
    }
}

