/* GRANDEZZA IMMAGINE TABELLA */
.table-img {
  width: 100px;
  height: 90px;
}

/* ??? */
.round-50 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* TABELLA */
td,
th {
  vertical-align: middle;
  text-align: start;
}

/* PALLINI LISTA */
ul {
  list-style-type: none;
}

/* GRANDEZZA INPUT RICERCA */
.w-search {
  width: 380px;
}

/* SPONSORIZZAZIONE */
.badge-sponsor {
  width: 100px;
  color: white;
  padding: 8px 15px;
  border-radius: 15px;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  min-width: 50px;
}


@media screen and (max-width: 768px) {
  .badge-sponsor {
    width: 40px;
  }

  .date {
    font-size: 12px;
  }
}