.table-img {
  width: 100px;
  height: 90px;
}
.round-50 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

td,
th {
  vertical-align: middle;
  text-align: start;
}

ul {
  list-style-type: none;
}

.w-search{
  width: 380px;
}