/* NAVBAR */
nav {
  height: 65px;

  .bg-gray {
    color: grey;
  }

  /* LOGO */
  #nav-logo {
    // height: 32px;
    width: 32px;
  }

  /* LINK */
  #link-logo {
    color: #ff385c;
    text-decoration: none;
  }
}