@import '~bootstrap/scss/bootstrap';

body{
  visibility: visible;
}
nav{
  #nav-logo{
    // height: 32px;
    width: 32px;

  }
  #link-logo{
    color: #FF385C;
    text-decoration: none;
  }

}

td, th{
  vertical-align: middle;
}



.table-img{
  width: 150px;
}