@import '~bootstrap/scss/bootstrap';
@import'_colors';
@import '_index';
@import '_login';
@import '_font';
@import '_nav';
@import '_button';
body {
  visibility: visible;
}



#suggestions{
  background-color: #f3f2f2;
  position: absolute;
  width: 100%;
  cursor: pointer;
}

.c-main{
  color:$main500;
}

.c-main-6{
  color: #cc484c;
}

.btn-sec{
  border: 1px solid #FF5A5F;
}

.search {
  border: 1px solid rgb(216, 216, 216);
  padding: 10px;
  border-radius: 60px;
}

.search-button {
  border-radius: 38px;
}